
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<div class="card-container">

<div class="card" *ngIf="movie.available===true">
    <img [src]="movie.image" alt="Placeholder Image">
    <div class="card-content">
      <h4>{{movie.title}}</h4>
      <div class="movie-rating">
        <span class="rating-stars">
          <i class="fas fa-star" *ngIf="movie.ratings >= 1"></i>
          <i class="fas fa-star" *ngIf="movie.ratings >= 2"></i>
          <i class="fas fa-star" *ngIf="movie.ratings >= 3"></i>
          <i class="fas fa-star" *ngIf="movie.ratings >= 4"></i>
          <i class="fas fa-star" *ngIf="movie.ratings >= 5"></i>
          <i class="fas fa-star-half-alt" *ngIf="movie.ratings >= 0.5 && movie.ratings< 1"></i>
          <i class="fas fa-star-half-alt" *ngIf="movie.ratings >= 1.5 && movie.ratings< 2"></i>
          <i class="fas fa-star-half-alt" *ngIf="movie.ratings >= 2.5 && movie.ratings< 3"></i>
          <i class="fas fa-star-half-alt" *ngIf="movie.ratings >= 3.5 && movie.ratings< 4"></i>
          <i class="fas fa-star-half-alt" *ngIf="movie.ratings >= 4.5 && movie.ratings< 5"></i>
        </span>
        <span class="rating-value">{{ movie.ratings }}</span>
      </div>
      <p>Language: {{movie.language}}</p>
      <p>Genre : {{movie.genre}}</p>
      <p>length : {{movie.length}}</p>
      
      
      <p>Show time: {{movie.showTime}}</p>
      <p>price: {{movie.price}}</p>
      <a href="#">BOOK</a>
    </div>
  </div>
  

 </div> 



 
  