
<div class="card-container">

<div class="card" *ngIf="movie.available===true">
    <img [src]="movie.image" alt="Placeholder Image">
    <div class="card-content">
      <h4>{{movie.title}}</h4>
      <p>Language: {{movie.language}}</p>
      <p>Genre : {{movie.genre}}</p>
      <p>length : {{movie.length}}</p>
      <p>Ratings: {{movie.ratings}}</p>
      <p>Show time: {{movie.showTime}}</p>
      <p>price: {{movie.price}}</p>
      <a href="#">BOOK</a>
    </div>
  </div>
  

 </div> 



 
  