<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
   
  </style>

  <title>Document</title>
</head>
<body>
 
 <app-header>
  <div class="logo"></div>
	
 </app-header>
 
 
 
 
  <div class="container">
    <div class="left-column">
      <div class="movie-mania">Movie Mania</div>
    <div class="form-group">
        <label>Languages</label>
        <div *ngFor="let language of languages">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" [value]="language.name" [(ngModel)]="selectedLanguages[language.name]" (change)="onCheckboxSelect()" />
            <label class="form-check-label">{{ language.name }}</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Genres</label>
        <div *ngFor="let genre of genres">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" [value]="genre.name" [(ngModel)]="selectedGenres[genre.name]" (change)="onCheckboxSelect()"  />
            <label class="form-check-label">{{ genre.name }}</label>
          </div>
        </div>
      </div>


      <button type=button class="clear-filters-button" (click)="clearFilters()">CLear Filters</button>
       
      
   
  </div>
     
     
  
    <div class="right-column">
  
     <div class="cardo" *ngIf="filteredMovies.length>0; else elseBlock">
     
      
         <div class="col-4" *ngFor="let movie of filteredMovies">
            <app-cards [movie]="movie"></app-cards>
           </div> 
        
      </div>
      <ng-template #elseBlock>
        <div>
          <img src="../assets/no.jpg">
        </div>
      </ng-template>
     </div> 
        

    
 </div>

      
   
    
      
    



  <app-footer>
    <div class="copy">
      copyright 2020
    </div>
   
  </app-footer>
</body>
</html>
