<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
   
  </style>

  <title>Document</title>
</head>
<body>
 
 <app-header>
  <div class="logo"></div>
	<div class="movie-mania">Movie Mania</div>
 </app-header>
 
 
 
 
  <div class="container">
    <div class="left-column">
    <div class="form-group">
        <label>Languages</label>
        <div *ngFor="let language of languages">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" [value]="language.name" [(ngModel)]="selectedLanguage" />
            <label class="form-check-label">{{ language.name }}</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Genres</label>
        <div *ngFor="let genre of genres">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" [value]="genre.name" [(ngModel)]="selectedGenre"  />
            <label class="form-check-label">{{ genre.name }}</label>
          </div>
        </div>
      </div>

    <div class="my-btn">
        <button type="button" class="btn btn-outline-primary">Click me</button>

    </div>
  </div>
     
     
  
    <div class="right-column">
  
     <div class="row">
      <div class="col-4" *ngFor="let movie of movies" >
      
        
          <app-cards [movie]="movie"></app-cards>
          </div>
        
        </div>
      </div>
   
      </div>
      
    



  <app-footer>
    <h1 style="color:yellow">copyright 2020</h1>
  </app-footer>
</body>
</html>
